# Database Configuration
# Valid options: SqlServer, PostgreSQL
DATABASE_PROVIDER=SqlServer
# SQL Server Connection String
CONNECTIONSTRINGS__SQLSERVERCONNECTION="Server=host.docker.internal,1433;Database=hybridauth_idp;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False"
# PostgreSQL Connection String
CONNECTIONSTRINGS__POSTGRESQLCONNECTION="Host=host.docker.internal;Port=5432;Database=hybridauth_idp;Username=user;Password=password"

# Redis Configuration
REDIS__ENABLED=true
REDIS__CONNECTIONSTRING=host.docker.internal:6379,abortConnect=false

# Legacy Auth API
LEGACYAUTH__LOGINURL="http://host.docker.internal:5299/api/authenticate/login"

# Security
SECURITY__REGISTRATIONENABLED=false

# External Login Configuration
# Google
EXTERNAL_LOGIN__GOOGLE__ENABLED=false
EXTERNAL_LOGIN__GOOGLE__CLIENT_ID=
EXTERNAL_LOGIN__GOOGLE__CLIENT_SECRET=
# Microsoft 365
EXTERNAL_LOGIN__MICROSOFT__ENABLED=false
EXTERNAL_LOGIN__MICROSOFT__CLIENT_ID=
EXTERNAL_LOGIN__MICROSOFT__CLIENT_SECRET=
