using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Mvc.RazorPages;
using Core.Domain.Constants;

namespace Web.IdP.Pages.Admin
{
    [Authorize(Roles = AuthConstants.Roles.Admin)]
    public class ClientsModel : PageModel
    {
        public void OnGet()
        {
            // 只有 Admin 角色才能執行
        }
    }
}
