@page
@model Web.IdP.Pages.PrivacyModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Web.IdP.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Privacy Policy"];
}

<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
        <h1 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">@ViewData["Title"]</h1>
        <p class="mt-4 text-lg text-gray-500">@Localizer["Use this page to detail your site's privacy policy."]</p>
    </div>
</div>
