@page
@model Web.IdP.Pages.Docs.IndexModel
@{
    // This page is only accessible to authenticated users (see PageModel).
}

<div class="container p-4">
  <h1>Documentation</h1>
  <p>正在導向至公開文件首頁…如果沒有自動導向，請點選下方連結：</p>
  <p><a href="/docs/index.html">前往文件首頁</a></p>
</div>
