@page
@model Web.IdP.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div id="profile-app"></div>

@section Scripts {
    <script type="module" src="http://localhost:5173/src/profile/main.js"></script>
}
