@page
@model Web.IdP.Pages.Account.ProfileModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Web.IdP.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Profile"];
}

<div id="profile-app"></div>

@section Scripts {
    <script type="module" vite-src="~/src/profile/main.js"></script>
}
