@page
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment
@inject Microsoft.Extensions.Localization.IStringLocalizer<Web.IdP.SharedResource> Localizer
@model Web.IdP.Pages.Admin.ClaimsModel
@{
    ViewData["Title"] = Localizer["Claims"].Value;
    ViewData["Breadcrumb"] = Localizer["Claims"].Value;
    Layout = "_AdminLayout";
}

<div id="app" class="vue-app-container"></div>

@section Scripts {
    @if (Environment.IsDevelopment())
    {
        <script type="module" src="http://localhost:5173/src/admin/claims/main.js"></script>
    }
    else
    {
        <script type="module" src="~/dist/admin-claims.js" asp-append-version="true"></script>
    }
}
