@page
@inject Microsoft.Extensions.Localization.IStringLocalizer<Web.IdP.SharedResource> Localizer
@model Web.IdP.Pages.Admin.ClaimsModel
@{
    ViewData["Title"] = Localizer["Claims"].Value;
    ViewData["Breadcrumb"] = Localizer["Claims"].Value;
    Layout = "_AdminLayout";
}

<div id="app" class="vue-app-container"></div>

@section Scripts {
    <script type="module" vite-src="~/src/admin/claims/main.js"></script>
}
