@page
@model Web.IdP.Pages.Admin.ClientsModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Web.IdP.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Clients"].Value;
    ViewData["Breadcrumb"] = Localizer["Clients"].Value;
    if (ViewData["DynamicLayout"] != null)
    {
        Layout = ViewData["DynamicLayout"]?.ToString();
    }
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/clients/main.js"></script>
