@page
@model Web.IdP.Pages.Admin.ClientsModel
@{
    ViewData["Title"] = "Client Management";
    ViewData["Breadcrumb"] = "Clients";
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/clients/main.js"></script>
