@page "/Admin/Dashboard"
@model Web.IdP.Pages.Admin.DashboardModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Web.IdP.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Dashboard"].Value;
    ViewData["Breadcrumb"] = Localizer["Dashboard"].Value;
}

<div id="app"></div>

@section Scripts {
    <script type="module" vite-src="~/src/admin/dashboard/main.js"></script>
}
