@page
@model Web.IdP.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Breadcrumb"] = "Dashboard";
}

@section Scripts {
    @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
    {
        <script type="module" src="http://localhost:5173/src/admin/dashboard/main.js"></script>
    }
    else
    {
        <script type="module" src="~/dist/assets/admin-dashboard.js" asp-append-version="true"></script>
    }
}

<div id="app"></div>

