@page
@model Web.IdP.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Portal";
}

<div id="app"></div>

@section Scripts {
    <script type="module" vite-src="~/src/admin/main.js"></script>
}
