@page
@model Web.IdP.Pages.Admin.RolesModel
@{
    ViewData["Title"] = "Role Management";
    ViewData["Breadcrumb"] = "Roles";
}

<div id="app"></div>
<script type="module" vite-src="~/src/admin/roles/main.js"></script>
