@page
@model Web.IdP.Pages.Admin.RolesModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Roles"].Value;
    ViewData["Breadcrumb"] = Localizer["Roles"].Value;
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/roles/main.js"></script>
