@page
@model Web.IdP.Pages.Admin.RolesModel
@{
    ViewData["Title"] = "Role Management";
    ViewData["Breadcrumb"] = "Roles";
    Layout = "_AdminLayout";
}

<div id="app"></div>

@section Scripts {
    <script type="module" src="~/src/admin/roles/main.js" asp-append-version="true"></script>
}
