@page
@model Web.IdP.Pages.Admin.ScopesModel
@{
    ViewData["Title"] = "Scope Management";
    ViewData["Breadcrumb"] = "Scopes";
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/scopes/main.js"></script>
