@page
@model Web.IdP.Pages.Admin.ScopesModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Scopes"];
    ViewData["Breadcrumb"] = Localizer["Scopes"];
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/scopes/main.js"></script>
