@page
@model Web.IdP.Pages.Admin.SecurityModel
@{
    ViewData["Title"] = "Security Policies";
    ViewData["ActivePage"] = "Security";
}

<div id="security-app"></div>

@section Scripts {
    <script type="module" src="~/dist/admin-security.js"></script>
}
