@page
@model Web.IdP.Pages.Admin.UsersModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Web.IdP.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Users"].Value;
    ViewData["Breadcrumb"] = Localizer["Users"].Value;
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/users/main.js"></script>
