@page
@model Web.IdP.Pages.Admin.UsersModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Users"];
    ViewData["Breadcrumb"] = Localizer["Users"];
}

<div id="app" class="vue-app-container"></div>
<script type="module" vite-src="~/src/admin/users/main.js"></script>
